.sidenav {
    width: 150px;
    position: fixed;
    z-index: 1;   
    left: 10px;
   
    overflow-x: hidden;
    padding: 8px 0;
    --bs-bg-opacity: 1;
   
  }
 
  .sidenav button {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: #89304d;
  }
  
  .sidenav a:hover {
    color: #064579;
  }
  
  .main {
    margin-left: 160px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  .register-form {
    width: 100%;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  }
  
  .register-form-content {
    padding-left: 6%;
    padding-right: 6%;
  }
  
  .register-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }
  .j-c-c{
    justify-content: center;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }